@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
.adventure{
    height:100% ;
    width: 100%;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.img{   
    width:100%;
    max-width:260px;
    height:100%;
}
.card-bottom{
    display: flex;
    padding-top:16px;
    justify-content:space-between
}
.mbt , .available , .km ,.desert{
  font-size:12px;
  color:#434343
}

.mbt , .available {
    text-align: right;
}